@import '../_config.scss';

@media screen and (max-width: 1239px) {
  main {
	margin: 0 auto;
	width: calc(100% - 40px);
  }
}

@media screen and (max-width: 956px) {
  #logo, #main-nav {
	float: none;
  }
  #logo {
	display: inline-block;
	left: 50%;
	padding-bottom: 0 !important;
	position: relative;
	transform: translateX(-50%);
  }
  #main-nav {
	padding-top: 0 !important;
	text-align: center;
  }
}

@media screen and (max-width: 775px) {
  #copyright, #social-nav {
	float: none;
	text-align: center;
  }
  #social-nav {
	padding-top: 0 !important;
  }

  a.button {
	text-align: center;
	width: 100%;
  }
}

@media screen and (max-width: 530px) {
  #logo {
	margin-bottom: 2rem;
  }
  #main-nav {
	padding: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;

	.menu-toggle {
	  border: 1px solid #bada55;
	  display: inline-block;
	  font-size: 1.5em;
	  padding: 0 6px 2px;
	  pointer-events: all;
	  position: absolute;
	  right: 15px;
	  top: 15px;

	  &:after {
		content: '\2630';
	  }
	}

	ul {
	  display: none;
	}

	&.active {
	  background-color: $grey;
	  height: 100%;
	  position: fixed;
	  width: 100%;

	  .menu-toggle {
		padding: 0 9px 2px;

		&:after {
		  content: 'X';
		}
	  }

	  ul {
		border: none;
		display: block;
		margin: 50px 0;
	  }

	  li {
		display: block;

		&:not(:last-child) {
		  border-bottom: 1px solid $primary;
		}

		a {
		  padding: 1rem;
		}
	  }
	}
  }

  main {
	padding: 1.5rem;
  }
}

@media screen and (max-width: 451px) {
  #logo {
	img {
	  height: 20vw;
	}
  }
}

@media screen and (max-width: 436px) {
  #logo {
	text-align: center;

	img, h1 {
	  float: none;
	}

	img {
	  margin-left: 7%;
	}
  }

  main {
	padding: 1rem;
  }
}
